<%= form_for @post, html: { multipart: true } do |f| %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, rows: 20, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :author %>
  <%= f.text_field :author, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :asset, "File" %>
	<%= f.file_field :asset %>
</div>


<%= f.submit "Save", class: "btn btn-default" %>
<% end %>